*{
    margin: 0;
    padding: 0;
}
.logo-index{
    display: flex;
    justify-content: center;
}
.logo{
    border: solid clear 2px;
    border-radius: 5%;
    height: 60px;
}
.link-list{
    display: flex;
    justify-content: center;
}
.nav-item{
    padding: 5px;
    text-decoration: none;
}

.nav-item:hover{
    
}

