*{
    margin: 0;
    padding: 0;
}
/*Début logo*/
.logo-index{
    display: flex;
    justify-content: center;
}
.logo{
    border: solid clear 2px;
    border-radius: 5%;
    height: 60px;
}
/*Fin logo*/

/*Début nav*/
.link-list{
    display: flex;
    justify-content: center;
}
.nav-item{
    padding: 5px;
    text-decoration: none;
}

.nav-item:hover{
    
}
/*Fin nav*/

/*Début header*/
.h1-parent{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif ;
}
/*Fin header*/

.quand-section{
    display: flex;
    background-color: rgb(228, 226, 226);
    border: solid 2px black;
    border-radius: 1.2rem;
    padding: 0.5rem;
    box-shadow: 0 0 10px , 0 0 20px ;
}
.section-pourquoi{
    background-color: gainsboro;
    border: solid clear 2px;
    border-radius: 2%;
    font-size: 20px;
}
