*{
    margin: 0;
    padding: 0;
    list-style-type:  none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

hr{
  color: rgb(252, 29, 66);
}
strong {
  color: #2c3e50; 
  font-weight: bold;
}
/* Les backgrounds des body de toutes les pages
   I I I
   V V V
*/
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(/IMG_VID/Robloxhq.jpg);
  background-repeat: no-repeat;
  background-size: 100vw;
  margin: 0;
  background-color: #f4f4f4;
}
.dynablocks{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(/IMG_VID/noFilter.webp);
  background-repeat: no-repeat;
  background-size: 103vw;
  margin: 0;
  background-color: #f4f4f4;
}




.ouvrirnoob{
  display: none;
  position: absolute;
  z-index: 4;
  margin-left: 1100px;
  margin-top: 20px;
}
.fermernoob{
  display: none;
  position: absolute;
  z-index: 3;
  margin-left: 1490px;
  margin-top: 31px;
  height: 27px;
  width: 70;
}
@keyframes bounce {
    0%, 100%, 20%, 50%, 80% {
        transform: translateY(0); 
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px); 
    }
}

.noob{
  position: absolute;
  z-index: 2;
  margin-left: 1180px;
  margin-top: 110px;
  display: inline-block;
}
.noob:hover{
  animation: bounce 1s infinite;
}
.xp{
  position: absolute;
  z-index: 1;
  margin-left: 1100px;
  margin-top: 20px;
}
em {
  color: #0277bd;
  font-style: italic;
}
/*Début logo*/
.logo-index{
    display: flex;
    justify-content: center;
}
.logo-page-db{
    display: flex;
    justify-content: center;
}
.logo-db{
    display: inline-flex;
    border: solid clear 2px;
    border-radius: 5%;
    height: 55px;
    width: 322px;
    backdrop-filter: blur(300px);
}
.logo{
    display: inline-flex;
    border: solid clear 2px;
    border-radius: 5%;
    height: 135px;
    width: 253px;
    backdrop-filter: blur(40px);
     
}
/*Fin logo*/

/*Début nav*/
.link-list{
    display: flex;
    justify-content: center;
    gap: 1.7rem;
    padding-bottom: 1.5rem;
    transition: 0.9s;
}
.nav-items{
    padding: 5px;
    height: 20px;
    margin-top: 10px;
    transition: 0.9s;
}
.hidden {
   display: none;
   transition: 0.9s;
}
nav #toggleButton{
  margin-left: 100px;
  transition: 0.9s;
}
#toggleButton{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 0 0 10px #FFE066, 0 0 20px #000000;
    width: 30px;
    transition: 0.9s;
}
#toggleButton img{
  height: 100px;
  width: 100px;
}
.nav-item-1{
    display: inline-flex;
    justify-content: center;
    text-decoration: none;
    background-image: url(/IMG_VID/46929662-verde-plastico-brinquedo-placa-de-base-fundo-com-rede-do-circular-pregos-quadrado-bandeira-pano-de-fundo-vetor.jpg);
    background-size: auto;
    box-shadow: 0 0 10px #FFE066, 0 0 20px #000000;
    border-radius: 1.2rem;
    padding: 10px;
    width: 165px;
    transition: 0.9s;
}
.nav-item-open{
    display: inline-flex;
    justify-content: center;
    text-decoration: none;
    background-image: url(/IMG_VID/46929662-verde-plastico-brinquedo-placa-de-base-fundo-com-rede-do-circular-pregos-quadrado-bandeira-pano-de-fundo-vetor.jpg);
    background-size: auto;
    box-shadow: 0 0 10px #FFE066, 0 0 20px #000000;
    border-radius: 50%;
    padding: 10px;
    width: 30px;
}

.nav-item-2{
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-image: url(/IMG_VID/46929662-verde-plastico-brinquedo-placa-de-base-fundo-com-rede-do-circular-pregos-quadrado-bandeira-pano-de-fundo-vetor.jpg);
    background-size: auto;
    box-shadow: 0 0 10px #FFE066, 0 0 20px #000000;
    border-radius: 1.2rem;
    padding: 10px;
    width: 165px;
}


.nav-item-3{
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-image: url(/IMG_VID/46929662-verde-plastico-brinquedo-placa-de-base-fundo-com-rede-do-circular-pregos-quadrado-bandeira-pano-de-fundo-vetor.jpg);
    background-size: auto;
    box-shadow: 0 0 10px #FFE066, 0 0 20px #000000;
    border-radius: 1.2rem;
    padding: 10px;
    width: 165px;
}

.nav-item-4{
     display: flex;
    justify-content: center;
    text-decoration: none;
    background-image: url(/IMG_VID/46929662-verde-plastico-brinquedo-placa-de-base-fundo-com-rede-do-circular-pregos-quadrado-bandeira-pano-de-fundo-vetor.jpg);
    background-size: auto;
    box-shadow: 0 0 10px #FFE066, 0 0 20px #000000;
    border-radius: 1.2rem;
    padding: 10px;
    width: 165px;
}

.nav-item-5{
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-image: url(/IMG_VID/46929662-verde-plastico-brinquedo-placa-de-base-fundo-com-rede-do-circular-pregos-quadrado-bandeira-pano-de-fundo-vetor.jpg);
    background-size: auto;
    box-shadow: 0 0 10px #FFE066, 0 0 20px #000000;
    border-radius: 1.2rem;
    padding: 10px;
    width: 165px;
}




.nav-items:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

a:hover{
    cursor: url(/IMG_VID/hamrcrsr.jpg), pointer;
}
/*Fin nav*/

/*Début header*/
.h1-parent{
    display: flex;
    justify-content: center;
    
    color: white;
    -webkit-text-stroke: 0.5px red;
}

.h1-subtitle{
    
    text-decoration: underline;
    font-weight: 300;
    color: rgb(250, 24, 24);
}
/*Fin header*/

/*Début main*/



/*Début section "quand"*/

.quand-section {
  background-color: #a3c9f7;
  border-left: 5px solid #c0392b;
  color: #2c3e50;
  padding: 1.5rem;
  margin: 2rem auto;
  max-width: 800px;
  border-radius: 6px;
  
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  margin-right: auto;
  margin-left: 2rem; 
}

.quand-article h2{
  padding-bottom: 1.5rem;
  font-weight: bolder;
}

.section-quand h2 {
  color: #ff0066;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.roblox{
    color: #ee131e;
}

.liste-index{
  padding-left: 1.5rem;
  list-style-type: square;
  color: #37474f;
  
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: #bfd7f5;
  box-shadow: 0 0 10px #e7251f;
  border-radius: 25px;
}


.quand-article-title{
    font-size: 1.6rem;
  color: #2c3e50;  
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/*Fin section quand*/

/*Début section pourquoi*/
.section-pourquoi{
    background: rgba(255, 255, 255, 0.15); 
  backdrop-filter: blur(10px); 
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-left: 6px solid #0984e3; 
  border-radius: 12px;
  padding: 1.5rem;
  margin: 2rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  color: black;
  

}

.p-pk{
  -webkit-text-stroke: 0.1px gray;
}

.section-pourquoi:hover {

  transform: scale(1.02);
  transition: 0.3s ease;
}

.section-pourquoi h2 {
  color: black;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.h2-pk{
  color: crimson;
}

.section-pourquoi p {
  line-height: 1.6;
}
/*Fin section pourquoi*/

/*Test*/

/*Test*/

/*Début footer*/
footer {
  background-color: #2c3e50;
  color: #ecf0f1;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  
  margin-top: auto;
  border-top: 2px solid red;
  box-shadow: 0 8px 24px rgba(190, 174, 174, 0.918);
  
}
/*Changement des couleurs pour voir les prenoms dans le footer et que ça soit également plus esthétique.*/
.footer-strong-1{
  color: cyan;
}

.footer-strong-2{
  color: yellow;
}

.footer-t{
  color: red;
}
/*Fin footer*/




/*Début Dynablocks*/

.maindyna{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}



.section-dynabout{
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  margin-top: auto;
  border-radius: 6px;
  background-origin: border-box;
  backdrop-filter: blur(50px);
  color: #ffffff;
  max-width: 500px;
  box-shadow: 0 0 10px #07fcdb, 0 0 20px #000000;
  font-size: larger;
  margin-right: 50rem;
  margin-top: 1rem;
}

.section-dynabout h1{
  font-weight: bolder;
}

.section-dynafacts article, .section-dynabout article{
  display: flex;
  margin-top: 1rem;
}

.section-dynafacts{
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  margin-top: auto;
  border-radius: 6px;
  align-content: end;
  backdrop-filter: blur(50px); 
  border-left: 5px solid #c0392b;
  color: white;
  height: 400px;
  width: 600px;
  max-width: 500px;
  font-size: 20px;
  box-shadow: 0 0 10px #FFE066, 0 0 20px #000000;
  margin-left: 40rem;
}


.section-dynafacts img{
  display: flex;
  align-items: center;
  margin: auto;
  height: 15rem;
  width: 15rem;
}


.article-dynabout a{
  text-decoration: none;
  color: crimson;
}

.article-dynabout a:hover{
  color: #c0392b;
  text-decoration: underline;
}

.pdynabout{
  color: white;
  
}

.dynablocksh1{
  
}



/*Fin Dynablocks*/


/*Roblox 2004-05*/
.roblox2k05{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url(/IMG_VID/old-roblox-games-classic-favorites-3-1024x528.webp);
  background-repeat: no-repeat;
  background-size: 120vw;
  
  background-color: #f4f4f4;
}
/*Roblox 2006-2017*/
.guest{
  
  width: 700px;
  height: 300px;

}
.logo-2006-2017{
  display: flex;
  border: solid clear 2px;
  border-radius: 5%;
  backdrop-filter: blur(40px);
  height: 100px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.roblox2k06-17{
  display: flex;
  flex-direction: row;
}
.quand-section-2{
  display: flex;
  flex-direction: row;
  background-color: #a3c9f7;
  border-left: 5px solid #c0392b;
  color: #2c3e50;
  padding: 1.5rem;
  margin: 2rem auto;
  max-width: 800px;
  border-radius: 6px;

  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  margin-right: auto;
  margin-left: 2rem; 
}
/*Fin roblox 2006-2017*/

/*début roblox moderne */

.RobloxModernBody{
    min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(/IMG_VID/roblox2016hp.png);
  background-repeat: no-repeat;
  background-size: 100vw;
  margin: 0;
  background-color: #f4f4f4;
}



.resumer-section{
  display: flex;
  border: 2px solid blue;
  flex-direction: column;
  

}


/* fin roblox moderne */