*{
    margin: 0;
    padding: 0;
}


strong {
  color: #2c3e50; 
  font-weight: bold;
}
/* Les backgrounds des body de toutes les pages
   I I I
   V V V
*/
body{
    background-image: url(/IMG_VID/Robloxhq.jpg);
    background-repeat: no-repeat;
    background-size: 100vw;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f4f4;
}
.dynablocks{
    background-image: url(/IMG_VID/dynablockbg.jpg);
    background-repeat: no-repeat;
    background-size: 100vw;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f4f4;
}
.xp2{
  position: absolute;
  top: 1;
  margin-left: 1180px;
  margin-top: 110px;

}
.xp{
  position: absolute;
  top: 2;
  margin-left: 1100px;
  margin-top: 20px;
}
em {
  color: #0277bd;
  font-style: italic;
}
/*Début logo*/
.logo-index{
    display: flex;
    justify-content: center;
}
.logo-page-db{
    display: flex;
    justify-content: center;
}
.logo-db{
    display: inline-flex;
    border: solid clear 2px;
    border-radius: 5%;
    height: 55px;
    width: 322px;
    backdrop-filter: blur(300px);
    border-left: 2px solid rgb(69, 69, 247);
}
.logo{
    display: inline-flex;
    border: solid clear 2px;
    border-radius: 5%;
    height: 135px;
    width: 253px;
    backdrop-filter: blur(300px);
    border-left: 2px solid rgb(69, 69, 247);
    
}
/*Fin logo*/

/*Début nav*/
.link-list{
    display: flex;
    justify-content: center;
    gap: 1.7rem;
    padding-bottom: 1.5rem;
}
.nav-items{
    padding: 5px;
    height: 20px;
    margin-top: 10px;
}
.nav-item-1{
    display: inline-flex;
    justify-content: center;
    text-decoration: none;
    background-image: url(/IMG_VID/46929662-verde-plastico-brinquedo-placa-de-base-fundo-com-rede-do-circular-pregos-quadrado-bandeira-pano-de-fundo-vetor.jpg);
    background-size: auto;
    box-shadow: 0 0 10px #FFE066, 0 0 20px #000000;
    border-radius: 1.2rem;
    padding: 10px;
    width: 165px;
}

.nav-item-2{
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-image: url(/IMG_VID/46929662-verde-plastico-brinquedo-placa-de-base-fundo-com-rede-do-circular-pregos-quadrado-bandeira-pano-de-fundo-vetor.jpg);
    background-size: auto;
    box-shadow: 0 0 10px #FFE066, 0 0 20px #000000;
    border-radius: 1.2rem;
    padding: 10px;
    width: 165px;
}


.nav-item-3{
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-image: url(/IMG_VID/46929662-verde-plastico-brinquedo-placa-de-base-fundo-com-rede-do-circular-pregos-quadrado-bandeira-pano-de-fundo-vetor.jpg);
    background-size: auto;
    box-shadow: 0 0 10px #FFE066, 0 0 20px #000000;
    border-radius: 1.2rem;
    padding: 10px;
    width: 165px;
}

.nav-item-4{
     display: flex;
    justify-content: center;
    text-decoration: none;
    background-image: url(/IMG_VID/46929662-verde-plastico-brinquedo-placa-de-base-fundo-com-rede-do-circular-pregos-quadrado-bandeira-pano-de-fundo-vetor.jpg);
    background-size: auto;
    box-shadow: 0 0 10px #FFE066, 0 0 20px #000000;
    border-radius: 1.2rem;
    padding: 10px;
    width: 165px;
}

.nav-item-5{
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-image: url(/IMG_VID/46929662-verde-plastico-brinquedo-placa-de-base-fundo-com-rede-do-circular-pregos-quadrado-bandeira-pano-de-fundo-vetor.jpg);
    background-size: auto;
    box-shadow: 0 0 10px #FFE066, 0 0 20px #000000;
    border-radius: 1.2rem;
    padding: 10px;
    width: 165px;
}



.nav-items:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

a:hover{
    cursor: url(/IMG_VID/hamrcrsr.jpg), pointer;
}
/*Fin nav*/

/*Début header*/
.h1-parent{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif ;
    color: white;
}

.h1-subtitle{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    font-weight: 300;
    color: rgb(250, 24, 24);
}
/*Fin header*/

/*Début main*/



/*Début section "quand"*/

.quand-section {
  background-color: #a3c9f7;
  border-left: 5px solid #c0392b;
  color: #2c3e50;
  padding: 1.5rem;
  margin: 2rem auto;
  max-width: 800px;
  border-radius: 6px;
  font-family: 'Verdana', sans-serif;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  margin-right: auto;
  margin-left: 2rem; 
}

.quand-article h2{
  padding-bottom: 1.5rem;
  font-weight: bolder;
}

.section-quand h2 {
  color: #ff0066;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.roblox{
    color: #ee131e;
}

.liste-index{
  padding-left: 1.5rem;
  list-style-type: square;
  color: #37474f;
  font-family: 'Verdana', sans-serif;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: #bfd7f5;
  box-shadow: 0 0 10px #e7251f;
  border-radius: 25px;
}


.quand-article-title{
    font-size: 1.6rem;
  color: #2c3e50;  
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/*Fin section quand*/

/*Début section pourquoi*/
.section-pourquoi{
    background: rgba(255, 255, 255, 0.15); 
  backdrop-filter: blur(10px); 
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-left: 6px solid #0984e3; 
  border-radius: 12px;
  padding: 1.5rem;
  margin: 2rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
}

.section-pourquoi:hover {

  transform: scale(1.02);
  transition: 0.3s ease;
}

.section-pourquoi h2 {
  color: black;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.h2-pk{
  color: crimson;
}

.section-pourquoi p {
  line-height: 1.6;
}
/*Fin section pourquoi*/

/*Test*/

/*Test*/

/*Début footer*/
footer {
  background-color: #2c3e50;
  color: #ecf0f1;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  font-family: 'Verdana', sans-serif;
  margin-top: 3rem;
  border-top: 2px solid red;
  box-shadow: 0 8px 24px rgba(190, 174, 174, 0.918);
  
}
/*Changement des couleurs pour voir les prenoms dans le footer et que ça soit également plus esthétique.*/
.footer-strong-1{
  color: cyan;
}

.footer-strong-2{
  color: yellow;
}

.footer-t{
  color: red;
}
/*Fin footer*/










/*Début Dynablocks*/

/*Fin Dynablocks*/