*{
    margin: 0;
    padding: 0;
}
strong{
    color: crimson;
}

em{
    color: rgb(16, 167, 167)
}
/*Début logo*/
.logo-index{
    display: flex;
    justify-content: center;
}
.logo{
    border: solid clear 2px;
    border-radius: 5%;
    height: 80px;
}
/*Fin logo*/

/*Début nav*/
.link-list{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}
.nav-items{
    padding: 5px;
    height: 20px;
    margin-top: 10px;
}
.nav-item-1{
    display: flex;
    text-decoration: none;
    background-image: url(/IMG_VID/46929662-verde-plastico-brinquedo-placa-de-base-fundo-com-rede-do-circular-pregos-quadrado-bandeira-pano-de-fundo-vetor.jpg);
    background-size: auto;
    box-shadow: 0 0 10px #FFE066, 0 0 20px #000000;
    border-radius: 1.2rem;
    padding: 10px;
}

.nav-item-2{
     display: flex;
    text-decoration: none;
    background-image: url(/IMG_VID/46929662-verde-plastico-brinquedo-placa-de-base-fundo-com-rede-do-circular-pregos-quadrado-bandeira-pano-de-fundo-vetor.jpg);
    background-size: auto;
    box-shadow: 0 0 10px #FFE066, 0 0 20px #000000;
    border-radius: 1.2rem;
    padding: 10px;
}

a:hover{
    cursor: url(/IMG_VID/hamrcrsr.jpg), pointer;
}
/*Fin nav*/

/*Début header*/
.h1-parent{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif ;
}

.h1-subtitle{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    font-weight: 300;
}
/*Fin header*/

/*Début main*/
/*Début section "quand"*/
.quand-section{
    display: flex;
    background-color: rgb(234, 235, 232);
    border: solid 2px black;
    border-radius: 1rem;
    padding: 0.5rem;
    box-shadow: 0 0 10px , 0 0 20px ;
    padding-bottom: 2rem;
    margin: 1rem 8rem;
}

.liste-index{
    padding-left: 3rem;
}

.quand-article-title{
    padding-bottom: 1.4rem;
}
/*Fin section quand*/

/*Début section pourquoi*/
.section-pourquoi{
    display: flex;
    background-color: rgb(234, 235, 232);
    border: solid clear 2px;
    border-radius: 2%;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 15px;
    margin-right: 950px;
    margin-bottom: 30px;

}
/*Fin section pourquoi*/

/*Début footer*/
footer{
  text-align: center;
  padding: 2rem 1rem;
  border-top: 2px solid #FF4136;
  font-size: 1rem;
  font-family: 'Segoe UI', sans-serif;
  margin-top: 8rem;
  font-weight: bolder;
}
/*Fin footer*/